@import "../../../variables";
.about_me_content{
  padding: 2px;
  min-height: 600px;


  .about_me_animate{
    color: white;
    //opacity: 0;
    h2{
    }

    p{
     min-width: 320px;
      width: 60%;
      font-size: 1.5rem;
   line-height: 3rem;
      font-family: 'Playfair Display', serif;
    }
  }
}

