<div class="about_me_content" fxLayout="row" fxLayoutAlign="center center">


  <div class="about_me_animate       " fxLayout="column" fxLayoutAlign="center center">

    <h1 data-aos="fade-right"
        data-aos-offset="160"
        data-aos-delay="50"
    >Hello !</h1>
    <p data-aos="fade-up"
       data-aos-offset="180"
       data-aos-delay="50">
      I'm a Front-end developer with extensive experience in building high-quality sites. My experience range from
      building responsive sites that work well cross-browser. I like working on projects with a team that cares about
      creating beautiful and usable interfaces. It's important for me to build long term relationships with clients, so
      I'm primarily looking for long term projects. I'm flexible with my working hours and I look forward to hearing
      from you.

    </p>

  </div>


</div>
