@import "../../../variables";
.about_me_content{
  padding: 2px;
  height: 600px;
  background: #3f58bc;
  background: linear-gradient(90deg, #0f193a 6%, #3f58bc 100%);
  .about_me_animate{
    color: white;
    h2{
    }

    p{
     min-width: 320px;
      width: 60%;
      font-size: 1.5rem;
   line-height: 3rem;
      font-family: 'Playfair Display', serif;
    }
  }
}

