<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]=" 'navigation'"
      [mode]=" 'over'"
     >
    <mat-toolbar fxLayout="column">
      <img class="my_logo"[src]="'assets/images/home/sam.jpg'" alt="logo">
    <p class="name_surname">SAMVEL GEVORGYAN</p>
    </mat-toolbar>
    <div>

    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">HOME</a>
      <a mat-list-item routerLink="/education">EDUCATION</a>
      <a mat-list-item routerLink="/contact">CONTACTS</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content role="region" >
    <mat-toolbar [ngClass]="{'fixedNav' : environment==='home'}">
      <button class="hamburger_button"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon [ngClass]="{'matIcon' : menuItemsBlue}" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="pdf" [ngClass]="{'menuItemsBlue' : menuItemsBlue}"><a href="../../../assets/documents/cv.pdf" download>DOWNLOAD CV</a></span>
      <div class="links_div" [ngClass]="{'menuItemsBlue' : menuItemsBlue}" fxLayout="row" fxLayoutGap="15px" *ngIf="!(isHandset$ | async)" >
        <a mat-button  routerLink="/home">Home</a>
        <a mat-button routerLink="/education">Education</a>
        <a mat-button routerLink="/contact">Contacts</a>

      </div>
    </mat-toolbar>

  </mat-sidenav-content>
</mat-sidenav-container>
