
<div class="main_content" >
  <div class="first_part">

    <app-header [environment] = "'home'">

    </app-header>
    <particles [params]="myParams" [style]="myStyle"> </particles>
    <div class="img_text_div"
         fxLayout="row"
         fxLayout.lt-md = "column "
         fxLayoutAlign="space-around center"
         fxLayoutAlign.lt-md="center center"
         fxLayoutGap="50px">
      <div class="my_img">
        <img class="my_logo"[src]="'assets/images/home/sam.jpg'" alt="logo">
        <h2>SAMVEL GEVORGYAN</h2>
      </div>
      <div class="tex_div">

        <h3 class="ml15">
          <span class="word">Sometimes  diligence and devotion </span>
          <span class="word">are more than talent</span>
        </h3>
      </div>
    </div>




  </div>
  <app-home-about></app-home-about>
  <div class="experience_education" >
  <app-home-skills> </app-home-skills>

  <app-home-experience></app-home-experience>
    <app-home-jobs></app-home-jobs>

    </div>

</div>
<app-footer></app-footer>


