@import "../../../variables";

.contact_cont{
  min-height: calc(100% - 140px);
  background-image: url("../../../assets/images/home/Korea-Wallpaper25.jpg");
  background-size: 100% 100% ;
  background-repeat: no-repeat;

  .info_email{
    padding: 20px;
    @include for-size(lt-sm){
      padding: 20px 5px;
    }
    .get_in_touch{


      h1{
        text-align: right;
        @include for-size(lt-md){
       text-align: left;
        }
        span{
          color: $education_blue;
          font-weight: 900;
        }
      }
      .card{
        height: 50px;
        width: 300px;
        margin-bottom: 30px;
        a{
          text-decoration: none;
          color: $education_blue;

        }
        span {
          color: $education_blue;
          margin-right: 10px;
          fa-icon{
          font-size: 50px;
        }
        }
        .mat_content_p {
margin: 0;
          line-height: 1.3rem;
        }
      }
    }
    .contact_form_div{

      .contact_form{
padding: 16px;
        @include for-size(lt-md){
          padding: 0;
        }
        .error_field{
          color: red;
        }
        input{
          width: 320px;
          height: 50px;
          padding: 5px;
          border-radius: 4px;
          border: none;
          //box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        }
        textarea{
          width: 320px;
          padding: 5px;
          border-radius: 4px;
          border: none;

        }
button{
  width: 150px;
  background-color: $education_blue ;
  .spinner{
    display: inline;
    margin-left: 10px;
  }
  @include for-size(lt-sm){
    width: 325px;
  }

}
      }
    }
  }
  .chat_parent{

  }

}


::ng-deep {
  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: white;
  }
  .blue-snackbar{
    background-color: #00c853;
    .mat-simple-snackbar{
      text-align: center;
      span{
        width: 100%;
        text-transform: capitalize;
        font-family: 'Playfair Display', serif;
        font-size: 18px;
      }
    }
    .mat-simple-snackbar-action{
      display: none;
    }
  }


}


