<div class="experience_content">
<h1 class="prof_exper" data-aos="flip-left">PROFESSIONAL EXPERIENCE</h1>
  <div class="listing_content" fxLayout="row"
       data-aos="fade-right"
       data-aos-easing="linear"
       data-aos-duration="500">
    <div class="list_img"  fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
        <h6 >  2015 - Present</h6>
      <span class="angle"></span>
    </div>
    <div class=" list_description" fxFlex="80">
      <h6>Front End Developer  </h6>
      <p>LLC “HI –TECH GATWAY” Armenian branch Armenia</p>
    </div>
  </div>

  <div class="listing_content" fxLayout="row"
       data-aos="fade-left"
       data-aos-easing="linear"
       data-aos-duration="500">
    <div class="list_img" fxFlex="20" fxLayout="column" fxLayoutAlign="center center">

        <h6>2014 - 2015</h6>

      <span class="angle"></span>
    </div>
    <div class=" list_description" fxFlex="80">
      <h6>ENGEENIER   </h6>
      <p> LLC “BLESK ARMENIA” Armenian branch</p>
    </div>
  </div>

  <div class="listing_content" fxLayout="row"
       data-aos="fade-right"
       data-aos-easing="linear"
       data-aos-duration="500">
    <div class="list_img" fxFlex="20" fxLayout="column" fxLayoutAlign="center center">

        <h6> 2008 - 2014</h6>

      <span class="angle"></span>
    </div>
    <div class=" list_description" fxFlex="80">
      <h6>DEPUTY DIRECTOR</h6>
      <p> LLC “Sanloret” Armenia </p>
    </div>
  </div>
</div>
