<app-header></app-header>
<div class="education_main_cont">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="master"></div>
      <mat-card-title>Yerevan State
        University of
        Architecture and
        Construction
      </mat-card-title>
      <mat-card-subtitle>Online taxi</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p class="mat_content_p">
        Master’s degree in ENGINEERING in the field of
        Construction and Operation of Water Systems
      </p>
    </mat-card-content>

  </mat-card>
</div>

<app-footer></app-footer>
