<app-header></app-header>

<div class="education_main_cont"   >
  <h1>Education</h1>
  <div fxLayout="row wrap"  fxLayout.lt-sm="column"  fxFlexAlign="center center" >
  <div class="education_part">
    <div class="resume_item" data-aos="zoom-in">
      <div class="date">2015/01 - 2015/06</div>
      <div class="name">LLC “COLIBRILAB”
      </div>
      <p>
        Web development course
      </p>
    </div>

    <div class="resume_item" data-aos="zoom-in">
      <div class="date">2008 - 2010</div>
      <div class="name">Yerevan State
        University of
        Architecture and
        Construction
      </div>
      <p>
        Master’s degree in ENGINEERING in the field of
        Construction and Operation of Water Systems
      </p>
    </div>
    <div class="resume_item" data-aos="zoom-in">
      <div class="date">2008/05 - 2008/08</div>
      <div class="name">Economics & Law
        IRC
      </div>
      <p>
        Training course – Accounting and taxation principles based on
        international accountings standards
      </p>
    </div>

    <div class="resume_item" data-aos="zoom-in">
      <div class="date">2004 - 2008</div>
      <div class="name">State Engineering
        University of Armenia
      </div>
      <p>
        Bachelor’s degree in ENGINEERING in the field of Economics and Management of Enterprises (in Air Transport)
      </p>
    </div>
  </div>




  <div class="language_skills"  >
    <div class="card_box_parent" data-aos="zoom-in-up">
      <div class="title">
        <span>Personal</span> skills
      </div>
    <div class="card_box">
           <ul>
        <li>
          <div class="name">Communication</div>
          <div class="progress">
            <div class="percentage p_1"  ></div>
          </div>
        </li>
        <li>
          <div class="name">Team Work</div>
          <div class="progress">
            <div class="percentage p_2"  ></div>
          </div>
        </li>
        <li>
          <div class="name">Leadership</div>
          <div class="progress">
            <div class="percentage p_3" ></div>
          </div>
        </li>
      </ul>
    </div>
    </div>



    <div class="card_box_parent" data-aos="zoom-in-up">
      <div class="title">
        <span>Language</span> skills
      </div>
      <div class="card_box">
        <ul>
          <li>
            <div class="name">English B2</div>
            <div class="progress">
              <div class="percentage l_1"  ></div>
            </div>
          </li>
          <li>
            <div class="name">Spanish B1</div>
            <div class="progress">
              <div class="percentage l_2"  ></div>
            </div>
          </li>
          <li>
            <div class="name">Russian C1 </div>
            <div class="progress">
              <div class="percentage l_3" ></div>
            </div>
          </li>

          <li>
            <div class="name">Armenian Native </div>
            <div class="progress">
              <div class="percentage l_4" ></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>

<app-footer></app-footer>
