<div class="jobs_cont">
  <h1 data-aos="flip-right">JOBS DONE BY MY LIKE A FRONT END DEVELOPER</h1>
  <div class="cards" fxLayout="row wrap" fxLayout.lt-sm="column " fxLayoutAlign="center center" fxLayoutGap="20px"  >
    <a href="https://www.vshoo.com" target="_blank" data-aos="flip-down">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="vshoo_image"></div>
        <mat-card-title>Vshooo</mat-card-title>
        <mat-card-subtitle>Online taxi</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p class="mat_content_p">
          An application for online taxi order. This
          application allow us to order taxi from browser. I worked on
          Front End part. In this project I used Facebook JavaScript
          SDK, Google JavaScript SDK, Google map API.
        </p>
      </mat-card-content>

    </mat-card>
    </a>

    <a href="https://connecttotv.com" target="_blank" data-aos="flip-down">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="connecttotv_image"></div>
        <mat-card-title>ConnecttoTV</mat-card-title>
        <mat-card-subtitle>Online channels</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p class="mat_content_p">
          Includes over 900 best channels
          from around the world. There are available packages for
          Armenian, Russian, and Arabic Iranian channels in addition to
          US channels. I have created our own web player.
          In this project I used Angular framework
        </p>
      </mat-card-content>

    </mat-card>
    </a>

    <a href="javascript:" target="_blank" data-aos="flip-down">
      <mat-card class="example-card" >
        <mat-card-header>
          <div mat-card-avatar class="wallet_image"></div>
          <mat-card-title>Wallet</mat-card-title>
          <mat-card-subtitle>Online money</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p class="mat_content_p">
            online money transfer,  jquery jquery ui, angular 7
          </p>
        </mat-card-content>
      </mat-card>

    </a>

    <a href="https://www.mycash.am" target="_blank" data-aos="flip-down">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="my_cash_image"></div>
          <mat-card-title>My cash</mat-card-title>
          <mat-card-subtitle>Online money</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p class="mat_content_p">
         online money transfer,  jquery jquery ui
          </p>
        </mat-card-content>

      </mat-card>
    </a>

    <a href="http://www.sec.am" target="_blank" data-aos="flip-down">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="sec_image"></div>
          <mat-card-title>SEC</mat-card-title>
          <mat-card-subtitle>Online shop</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p class="mat_content_p">
            online money transfer,  jquery jquery ui, PHP
          </p>
        </mat-card-content>

      </mat-card>
    </a>
  </div>
</div>
