@import "../../../variables";

.main_content {

  width: 100%;

  app-header app-header-nav .sidenav-container {
    background: transparent;
    color: white;
  }
  .first_part {
    background-image: url("../../../assets/images/home/home_universe.jpg");
    width: 100%;
    min-height: 800px;
    position: relative;
    .img_text_div {
      padding: 20px;

      .my_img {
        .my_logo {
          width: 400px;
          height: 445px;
          border-radius: 50%;
          position: relative;
          @include for-size(md) {
            width: 300px;
            height: 335px;
          }
          @include for-size(lt-sm) {
            width: 200px;
            height: 235px;
          }
        }
      }

      .tex_div {
        color: white;
        font-size: 22px;

        .ml15 {
          font-weight: 800;
          font-size: 35px;
          text-transform: uppercase;
          letter-spacing: 0.5em;
          @include for-size(lt-md) {
            text-align: center;
            letter-spacing: 0.4em;

          }

          .word {
            display: inline-block;
            line-height: 1em;
          }
        }

      }

    }
  }

  .experience_education{
    background-image: url("../../../assets/images/home/Blur-Picture9.jpg");
    //background-repeat: no-repeat;
    background-size: cover;

  }
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
}


